[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/cliente/Documentos/GitHub/plmg-cc-ti2-2024-2-g02-sosbichinhos/Codigo/SOSBichinhos/Plataformas.js
Type=Link
URL=file:///home/cliente/Documentos/GitHub/plmg-cc-ti2-2024-2-g02-sosbichinhos/Codigo/SOSBichinhos/Plataformas.js
Icon=application-javascript
